
@font-face {
    font-display: swap;
    font-family: "martian";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/martian-mono/static/MartianMono-Regular.ttf") format('truetype');
}

@font-face {
    font-display: swap;
    font-family: "martian";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf") format('truetype');
}

@font-face {
    font-display: swap;
    font-family: "martian";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/martian-mono/static/MartianMono-Bold.ttf") format('truetype');
}


@font-face {
    font-display: swap;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/inter/static/Inter_18pt-Regular.ttf") format('truetype');
}

@font-face {
    font-display: swap;
    font-family: "inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/inter/static/Inter_18pt-SemiBold.ttf") format('truetype');
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* 10px -> 1rem */
}

body {
    font-family: "inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: hsl(195, 23%, 28%);
}

button {
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-border-redius{
    border-radius: 1rem;
}

h1, h2, h3 {
    font-family: "martian";
}

.grid-main {
    display: grid;
}

.header-nav-container {
    grid-column: 2 / -2;
}

.primary-heading {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2px;
    background: linear-gradient(107deg, hsl(22, 100%, 69%) -11.37%, hsl(194, 78%, 11%) 61.84%);
    background-clip: text;
    color: transparent;
}

.primary-heading span {
    display: block;
}

.hero-btn-wrapper {
    display: inline-block;   
    position: relative;
}

.btn {
    display: inline-block;
    font-family: "martian";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
    color: hsl(194, 78%, 11%);
    border: 2px solid hsl(194, 78%, 11%);
    border-radius: 0.8rem;
}

.icon-arrow-down {
    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translateY(-50%);
}

.hero-testimonials {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.testimonials-photos {
    width: 11rem;
    height: auto;
}

.star-rate {
    display: flex;
}

.testimonials-info p {
    font-family: "martian";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1px;
    color: hsl(195, 23%, 28%);
}


.header-container {
    background-image:url("assets/images/pattern-light-bg.svg");
    background-color: hsl(17, 41%, 97%);
}

.hero-section {
    background-image:url("assets/images/pattern-light-bg.svg");
    background-color: hsl(17, 41%, 97%);
    padding-bottom: 8rem;
}

.hero-img-container {
    position: relative;
}

.hero-img-glow-container {
    position: absolute;
}

.hero-img {
    position: relative;
    z-index: 10;
} 

.hero-img-glow-container {
    width: 108.4rem;
    height: 108.4rem;
}


/***********************/
/* Mobile */
/***********************/
.grid-main {
    grid-template-columns: 1fr repeat(4, calc((100% - 42px - 3 * 20px) / 4)) 1fr;
    gap: 20px;
}

.header-nav-container {
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
}

.primary-heading {
  grid-column: 2 / -2;
  font-size: 3.8rem;
}

.hero-text {
    grid-column: 2 / -2;
    margin-top: 0.4rem;
}

.hero-btn-container {
    grid-column: 2 / -2;
    margin-top: 1.2rem;
}

.hero-testimonials{
    grid-column: 2 / -2;
}

.hero-img-container {
    grid-column: 2 / -2;
    margin-top: 4.4rem;
}

.hero-btn {
    font-size: 1.6rem;
    padding: 2.15rem 2.3rem;
    padding-right: 6.3rem;
}

.icon-arrow-down {
    right: 2.3rem;
}

.hero-img-glow-container {
    bottom: 0;
    right: 0;
    transform: translate(90%, 50%);
}

/***********************/
/* Tablet < 387 */
/* FIX HERO BTN */
/***********************/
/*
@media (width < 24.1875em) {

    .hero-btn-wrapper {
        display: block;
    }

    .hero-btn {
        width: 100%;
        font-size: 1.6rem;
        padding: 2.15rem 1.6rem;
        padding-right: 5.6rem;
    }
    
    .icon-arrow-down {
        right: 1.6rem;
    }
    body {
        background-color: red;
    }
}
*/

/***********************/
/* Tablet > 700 */
/***********************/
@media (width > 43.75em) {
    .grid-main {
        grid-template-columns: 1fr repeat(8, calc((100% - 64px - 7 * 24px) / 8)) 1fr;
        column-gap: 24px;
        row-gap: 20px;
    }

    .header-nav-container {
        margin-top: 3.2rem;
        margin-bottom: 6.4rem;
    }

    .primary-heading {
        grid-column: 2 / -3;
        font-size: 6.2rem;
    }

    .hero-img-container {
        grid-column: 2 / -2;
        margin-top: 4.4rem;
    }

    .hero-text {
        grid-column: 2 / -2;
        margin-top: 0.4rem;
    }

    .hero-btn-container {
        margin-top: 1.2rem;
    }

    .hero-btn {
        font-size: 1.8rem;
        padding: 2.05rem 2.4rem;
        padding-right: 6.4rem;  
    }

    .icon-arrow-down {
        right: 2.4rem;
    }

    .hero-img-glow-container {
        bottom: 0;
        right: 0;
        transform: translate(30%, 40%);
    }
}

/***********************/
/* Desktop > 1240px */
/***********************/
@media (width > 77.5em) {
    .grid-main {
        grid-template-columns: 1fr repeat(12, calc((117rem - 11 * 30px) / 12)) 1fr;
        column-gap: 30px;
        row-gap: 20px;
        align-items: center;
    }

    .header-nav-container {
        margin-top: 3.2rem;
        margin-bottom: 8.0rem;
    }

    .grid-rows-hero {
        grid-template-rows: repeat(6, auto);
    }

    .primary-heading {
        grid-column: 2 / 8;
        grid-row: 2;
        font-size: 6.2rem;
    }
    
    .hero-img-container {
        display: block;
        grid-column: 8 / -2;

        grid-row: 1 / -1;

        align-self: center;
        padding-left: 3.5rem;
    }

    .hero-text {
        grid-column: 2 / 7;
        grid-row: 3;
        margin-top: 0.4rem;
    }

    .hero-btn-container {
        grid-column: 2 / 7;
        grid-row: 4;
    }

    .hero-btn-container {
        margin-top: 1.2rem;
    }

    .hero-btn {
        font-size: 1.8rem;
        padding: 2.05rem 2.4rem;
        padding-right: 6.4rem;
    }

    .icon-arrow-down {
        right: 2.4rem;
    }

    .hero-testimonials {
        grid-column: 2 / 7;
        grid-row: 5;
    }

    .hero-img-glow-container {
        bottom: 0;
        right: 0;
        transform: translate(65%, 45%);
    }
}
