/***********************/
/* Desktop > 1240px */
/***********************/
@media (width > 77.5em) {
    .grid-main {
        grid-template-columns: 1fr repeat(12, calc((117rem - 11 * 30px) / 12)) 1fr;
        column-gap: 30px;
        row-gap: 20px;
        align-items: center;
    }

    .btn-with-icon {
        font-size: 1.8rem;
        width: 100%;
        max-width: 38.0rem;
        height: 6.4rem;
    }

    .padding-section-top {
        padding-top: 12.0rem;
    }

    .header-nav-container {
        margin-top: 3.2rem;
        margin-bottom: 8.0rem;
    }

    .grid-rows-hero {
        grid-template-rows: repeat(6, auto);
    }

    .primary-heading {
        grid-column: 2 / 8;
        grid-row: 2;
        font-size: 6.2rem;
    }
    
    .hero-img-container {
        grid-column: 8 / -2;
        grid-row: 1 / -1;
        align-self: center;
        padding-left: 3.5rem;
        margin: 0;
    }

    .hero-text {
        grid-column: 2 / 8;
        grid-row: 3;
        margin-top: 0.4rem;
    }

    .hero-btn-container {
        grid-column: 2 / 7;
        grid-row: 4;
    }

    .hero-btn-container {
        margin-top: 1.2rem;
    }

    .icon-arrow-down {
        right: 2.4rem;
    }

    .hero-testimonials {
        grid-column: 2 / 7;
        grid-row: 5;
    }

    .hero-img-glow-container {
        bottom: 0;
        right: 0;
        transform: translate(65%, 45%);
    }

    .grid-rows-features {
        grid-template-rows: repeat(3, auto);
        row-gap: 4rem;
    }

    .features-img-container {
        width: 100%;
        max-width: 56.0rem;
    }

    .read-together .right-side {
        grid-column: 8 / -2;
        grid-row: 2;
    }

    .read-together .right-side ul{
        padding-right: 10.0rem;
    }

    .read-together .left-side {
        grid-column: 2 / 8;
        grid-row: 1 / -1;
    }

    .book-club {
        margin-top: 12.0rem;
    }

    .book-club .right-side {
        grid-column: 8 / -2;
        grid-row: 1 / -1;
        justify-self: end;
    }

    .book-club .left-side {
        grid-column: 2 / 8;
        grid-row: 2;
    }

    .average-book-club-text{
        padding-right: 4.0rem;
    }

    .features-info-container.right-side {
        padding-left: 3.8rem;
    }

    .left-side > div {
        padding-right: 1rem;
    }

    .secondary-heading-font-size {
        font-size: 5rem;
    }

    .read-together-list {
        margin-top: 3.4rem;
        gap: 2.4rem;
    }

    .icon-check {
        width: 2.8rem;
        height: 2.8rem;
    }

    .image-not-average {
        position: relative;
    }

    .image-not-average::after {
        position: absolute;
        content: "";
        width: 12.0rem;
        height: 13.8rem;
        background-image: url("../assets/images/logos-tech.svg");
        bottom: 3.1rem;
        left: -8.0rem;
    }

    .club-highlight {
        position: relative;
    }
    
    .club-highlight::after {
        content: "";
        position: absolute;
        width: 16rem;
        height: 6.6rem;
        top: -2px;
        left: -15px;
        background-image: url("../assets/images/pattern-circle.png");
    }

    /* JOURNEY */
    .journey-container {
        padding: 8.0rem 6.0rem;
    }

    .journey-heading-container {
        text-align: center;
    }

    .journey-heading {
        padding-left: 26.9rem;
        padding-right: 26.9rem;
    }

    .journey-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-top: 6.4rem;
    }

    .journey-list li {
        width: 100%;
        max-width: 22.6rem;
        position: relative;
        gap: 2.4rem;
        font-size: 1.8rem;
    }

    .journey-list-number {
        font-size: 1.8rem;
        font-weight: 600;
        width: 4.0rem;
        height: 4.0rem;
    }

    .icon-arrow {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 9.0rem;
        height: 3.5rem;
    }

    .journey-container::after {
        transform: translate(45%, 55%);
    }

    /* MEMBERSHIP */
    .membership-heading {
        text-align: center;
    }

    .membership-container {
        grid-column: 3 / -3;
    }

    .membership-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 6.4rem;
    }
    
    .membership-list .membership-plan {
        width: 28.6rem;
        padding: 2.4rem;
    }

    .membership-list .membership-plan-pro {
        width: 35.0rem;
        padding: 4.0rem 2.4rem;
    }

    /* TESTIMONIAL */
    .testimonial-container {
        grid-column: 3 / -3;
        text-align: center;
    }

    .testimonial-star-rate {
        justify-content: center;
    }

    .testimonial-quote {
        font-size: 3.4rem;
        line-height: 130%;
    }

    /* FOOTER */

    /* Exclusive to desktop */
    .footer-container {
        padding-top: 8.0rem;
        padding-bottom: 2.9rem;
    }

    .footer-cta {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
        grid-column: 3 / -3;
        grid-row: 1;
    }

    .footer-heading-container {
        text-align: center;
        margin-bottom: 1.6rem;
    }

    .footer-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logos {
        display: flex;
        align-items: center;
        gap: 2.4rem;
    }
}
