/***********************/
/* Tablet > 700 */
/***********************/
@media (width > 43.75em) {
    .grid-main {
        grid-template-columns: 1fr repeat(8, calc((100% - 64px - 7 * 24px) / 8)) 1fr;
        column-gap: 24px;
        row-gap: 20px;
    }

    .padding-section-top {
        padding-top: 8.0rem;
    }

    .header-nav-container {
        margin-top: 3.2rem;
        margin-bottom: 6.4rem;
    }

    .primary-heading {
        grid-column: 2 / -3;
        font-size: 6.2rem;
    }

    .hero-img-container {
        grid-column: 2 / -2;
        margin-top: 4.4rem;
    }

    .hero-text {
        grid-column: 2 / -2;
        margin-top: 0.4rem;
    }

    .hero-btn-container {
        margin-top: 1.2rem;
    }

    .hero-btn {
        font-size: 1.8rem;
        padding: 2.05rem 2.4rem;
        padding-right: 6.4rem;  
    }

    .icon-arrow-down {
        right: 2.4rem;
    }

    .hero-img-glow-container {
        bottom: 0;
        right: 0;
        transform: translate(30%, 40%);
    }

    .grid-rows-features {
        grid-template-rows: repeat(2, auto);
        row-gap: 4rem;
    }

    .features-info-container, .features-img-container {
        grid-column: 2 / -2;
    }

    .book-club {
        margin-top: 8.0rem;
    }

    .secondary-heading-font-size {
        font-size: 5rem;
    }

    .read-together-list {
        margin-top: 3.4rem;
        gap: 2.4rem;
    }

    .icon-check {
        width: 2.8rem;
        height: 2.8rem;
    }

    .image-not-average {
        position: relative;
    }

    .image-not-average::after {
        position: absolute;
        content: "";
        width: 12.0rem;
        height: 13.8rem;
        background-image: url("../assets/images/logos-tech.svg");
        right: 5.05rem;
        bottom: 5.05rem;
    }

    .club-highlight {
        position: relative;
    }
    
    .club-highlight::after {
        content: "";
        position: absolute;
        width: 16rem;
        height: 6.6rem;
        top: -2px;
        left: -15px;
        background-image: url("../assets/images/pattern-circle.png");
    }

    /* JOURNEY */
    .icon-arrow {
        display: none;
    }
    
    .journey-container {
        padding: 8.0rem 3.2rem;
    }
    
    .journey-list {
        display: flex;
        gap: 4.0rem;
        flex-direction: column;
        margin-top: 4.8rem;
    }
    
    .journey-list li {
        gap: 2.4rem;
        font-size: 1.8rem;
    }
    
    .journey-list-number {
        width: 4.0rem;
        height: 4.0rem;
        font-size: 2.0rem;
    }
    
    .journey-container::after {
        transform: translate(40%, 50%);
    }

}
